.app-wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 5px;
}

.weather-app {
  padding: 15px;
  border: 2px solid #0a3355;
  border-radius: 20px;
}

.search {
  font-family: "Dongle", sans-serif;
  margin-bottom: 10px;
}

.search-bar {
  width: 75%;
  padding: 5px 10px 5px 25px;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: lighter;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 30px;
}

.search-button {
  width: 24%;
  padding: 5px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #0a3355;
  border-style: none;
  border-radius: 30px;
  background: linear-gradient(190deg, #f5f7fa 0%, #c3cfe2 100%);
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  color: #054b85;
  background: linear-gradient(-190deg, #f5f7fa 0%, #c3cfe2 100%);
}

.temp {
  color: #0a3355;
  font-family: "Poppins", sans-serif;
  display: inline;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 100px;
  padding-left: 20px;
}

.weather-temperature img {
  max-width: 100px;
  margin-bottom: 40px;
}

.weather-temperature .units {
  position: relative;
  font-size: 1rem;
  bottom: 0px;
  color: #242424;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  color: #054b85;
  text-decoration: underline;
  cursor: pointer;
}

.city {
  color: #0a3355;
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 45px;
  padding-top: 10px;
}

.lastup {
  text-align: right;
  font-family: "Dongle", sans-serif;
  color: #4e4e4e;
  font-size: 0.9rem;
  font-style: oblique;
  font-weight: lighter;
  line-height: 10px;
  padding-top: -15px;
}

#date.time {
  color: #0a3355;
  font-family: "Poppins", sans-serif;
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.misc {
  margin-top: -10px;
  font-family: "Dongle", sans-serif;
  line-height: 1;
}

p {
  display: inline;
  font-size: 1.8rem;
  text-transform: capitalize;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
  color: #434343;
  font-size: 1.3rem;
  font-weight: lighter;
  padding-right: 10px;
}

.code-by {
  padding: 0 auto;
  margin-top: 10px;
  display: block;
  font-family: "Dongle", sans-serif;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  color: #4e4e4e;
}
